<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <title>Jessica Ansong | Web Developer</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
   
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/designr-theme-cyan.css">

<!--============ADDED TEMPLATE DOC CSS==========================  -->  

    <link href="~/Template/Template Doc CSS/main.css" rel="stylesheet" />
    <link href="~/Template/Template Doc CSS/styles.css" rel="stylesheet" />
    <link href="~/Template/Template Doc CSS/syntax.css" rel="stylesheet" />

<!--============ADDED TEMPLATE HTML CSS==========================  -->

        <link href="~/Template/Template HTML CSS/bootstrap.css" rel="stylesheet" />
        <link href="~/Template/Template HTML CSS/bootstrap.min.css" rel="stylesheet" />
        <!--    <link href="~/Template/Template HTML CSS/designr-theme-cyan.css" rel="stylesheet" />  -->  
            <link href="~/Template/Template HTML CSS/designr-theme-cyan2.css" rel="stylesheet" /> 
        <!--   <link href="~/Template/Template HTML CSS/designr-theme-grass.css" rel="stylesheet" />  -->   
            <!-- <link href="~/Template/Template HTML CSS/designr-theme-green.css" rel="stylesheet" />  -->  
        <!--<link href="~/Template/Template HTML CSS/designr-theme-orange.css" rel="stylesheet" />-->
        <!--<link href="~/Template/Template HTML CSS/designr-theme-pink.css" rel="stylesheet" />-->
        <!--<link href="~/Template/Template HTML CSS/designr-theme-purple.css" rel="stylesheet" />-->
        <!--<link href="~/Template/Template HTML CSS/designr-theme-red.css" rel="stylesheet" />-->
        <link href="~/Template/Template HTML CSS/flexslider.css" rel="stylesheet" />
        <link href="~/Template/Template HTML CSS/font-awesome.css" rel="stylesheet" />
        <link href="~/Template/Template HTML CSS/font-awesome.min.css" rel="stylesheet" />

    <!-- ==============================================
    Fonts
    =============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

                    <!--===============ADDED TEMPLATE FONT=================-->
                        
               
    <!-- ==============================================
    JS
    =============================================== -->
    <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>


</head>

<body >

    <!--=== PAGE PRELOADER ===-->
    <div id="page-loader"><span class="page-loader-gif"></span></div>

    <!-- ==============================================
    MAIN NAV
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

          
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <!-- ======= LOGO ========-->
                <a class="navbar-brand scrollto" href="#home">JOHN DOE<br><span>UI Designer</span></a>
                <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->

            </div>

            <!--=== PAGE PRELOADER ===-->
            <div id="page-loader"><span class="page-loader-gif"></span></div>

            <!-- ==============================================
    MAIN NAV
    =============================================== -->
            <div id="main-nav" class="navbar navbar-fixed-top">
                <div class="container">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>

                        <!-- ======= LOGO ========-->
                        <a class="navbar-brand scrollto" href="#home">JOHN DOE<br><span>UI Designer</span></a>
                        <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->

                  


    @RenderBody()


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

    <!--============ADDED TEMPLATE DOC JQUERY==========================  -->

   

    <!--============ADDED HTML JQUERY==========================  -->
    
    @*<script src="~/Template/Template HTML JS/jquery.backstretch.js"></script>*@

    <script src="~/Template/Template HTML JS/jquery.easypiechart.js"></script>
   
    <script src="~/Template/Template HTML JS/jquery.flexslider.js"></script>
  
    <script src="~/Template/Template HTML JS/jquery.masonry.js"></script>
    
    @*<script src="~/Template/Template HTML JS/jquery.scrollto.js"></script>*@







    <!--============ADDED TEMPLATE DOC JS==========================  -->

    
    <script src="~/Template/Template Doc JS/respond.min.js"></script>


    <!--============ADDED TEMPLATE HTML JS==========================  -->

    
    <script src="~/Template/Template HTML JS/contact.js"></script>
    <script src="~/Template/Template HTML JS/designr.js"></script>
    <script src="~/Template/Template HTML JS/imagesloaded.js"></script>
    <script src="~/Template/Template HTML JS/respond.min.js"></script>
    <script src="~/Template/Template HTML JS/twitterFetcher_v10_min.js"></script>
    <script src="~/Template/Template HTML JS/waypoints.min.js"></script>

                                    


            
        @RenderSection("scripts", required: false)
    </body>
</html>
