@model JayAns.Models.BlogPost
    @using Microsoft.AspNet.Identity

 

@{
    ViewBag.Title = "Details";
}

@*<h2></h2>*@


<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-8">
            <section class="post">
          
                    <header class="entry-header">
                        <img class="entry-avatar" alt="Jessica Ansong" height="52" width="52" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASBAAAAJGM1OTkwNWE4LWIxNTEtNDBlZC1iZTFiLTBjZjVjNjQzZmI5Mg.jpg">

                        <h2 class="entry-title">@Html.DisplayFor(modelItem => Model.Title)</h2>
                        <p class="entry-meta">
                            Posted on <a class="entry-date" href="date.html">@Html.DisplayFor(modelItem=> Model.Created)</a> | By <a class="entry-author" href="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASBAAAAJGM1OTkwNWE4LWIxNTEtNDBlZC1iZTFiLTBjZjVjNjQzZmI5Mg.jpg">Jessica Ansong</a> | Tags <a class="label label-danger" href="tag.html">CSS3</a>

                        </p>

                    </header><!--/ header ends-->
                    <div class="entry-description">
                      @Html.Raw(Model.Blog)
                    </div>
            </section> <!-- /.post -->
                
            <!--============COMMENT SECTION==============================-->
            <div class="comments">
            @foreach (var item in Model.Comments.OrderByDescending(c=> c.Created))
            {
                <div id="disqus_thread">
                    <form class="form-horizontal" method="post" action="@Url.Action("CreateComment")" role="form">
                        </form>

                    <!--============ JS COMMENT SECTION==============================-->
                        <script type="text/javascript">
                            var disqus_shortname = 'von-bootstrap'; // required: replace example with your forum shortname

                            /*** Don't edit below this line ***/
                            (function () {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div><!--/ disqus thread ends-->
                    <div id="placement-bottom" data-tracking-area="discovery-south">
                        <div class="post-list" style="height: 0px; visibility: hidden;"><!--div post begins-->
                        </div> <!-- / div post list ends -->
                    </div> <!--/ div placement ends-->
                    }
              </div><!--/ comments-->
            </div><!-- /col-sm-12 col-md-8 ends -->
        </div><!--/ div row ends-->
    </div><!--/ div container ends-->

 

    <!--============BLOG NAV BAR==============================-->
<div class="container">
    <!--Begin Page Container-->
    <div class="row">
        <!--Begin Row-->
        <div class="col-sm-8">
            <!--Paging-->
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </div><!--/ Paging-->
    </div><!--/ End row-->
</div> <!--/ End Page Container-->


