@using PagedList.Mvc;
@using PagedList;



@model PagedList<JayAns.Models.BlogPost>
@{
    ViewBag.Title = "Index";
}

<div  class="container"> <!--container begins -->

    <!--=====LEFT COLUMN ==============-->
          <div class="row"> <!--/ left column row begins-->
              <div class="col-sm-12 col-md-8"><!-- /col-sm-12 col md 8 begins -->
                  <section class="post"> <!--section post begins-->

                      <header class="entry-header"><!-- entry header begins-->
                          @foreach (var item in Model)
                          {
                              <img class="entry-avatar" alt="Jessica Ansong" height="52" width="52" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASBAAAAJGM1OTkwNWE4LWIxNTEtNDBlZC1iZTFiLTBjZjVjNjQzZmI5Mg.jpg">
                              <h2 class="entry-title">@item.Title</h2>
                              <p class="entry-meta"><!--p class-->
                                  Posted on <a class="entry-date" href="date.html">@item.Created</a> | By <a class="entry-author" href="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASBAAAAJGM1OTkwNWE4LWIxNTEtNDBlZC1iZTFiLTBjZjVjNjQzZmI5Mg.jpg">Jessica Ansong</a> | Tags <a class="label label-danger" href="tag.html">Tag</a>
                              </p> <!--/ p class ends-->
                              <div class="entry-description"><!--div entry description begins-->
                                  
                                  <div class="abc"><!--blog body-->
                                      <p>@Html.Raw(item.Blog)</p>
                                  </div><!--/ blog body-->
                                  <button type="button" class="btn-theme" onclick="location.href='@Url.Action("Details", new { item.Slug})'">Read More</button>
                                  <hr />
                              </div> <!--/ entry description-->
                          }

                          <!--=====PAGING DIV==============-->
                      </header> <!-- / entry header-->
                            Page  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                  </section> <!-- /. section post ends -->
                </div> <!-- /col-sm-12 col md 8 -->
              

    <!--=====RIGHT COLUMN==============-->
    <div class="col-sm-4">
                    <div>
                        Text will display here.
                    </div>
                </div><!--/ table display / vertical ends-->
            </div><!--/ table height / overflow ends here-->

  
               

 <

        
      


@section scripts{

    <!--=====JQUERY DOT DOT DOT SCRIPTS==============-->

   
       <script src="~/JQuery Dot Dot Dot/jquery.dotdotdot.js"></script>
    <!--=====OTHER SCRIPTS==============-->
    @*<script src="~/Blog Template/js/custom.js"></script>
        <script src="~/Blog Template/js/pace.min.js"></script>*@

    <script type="text/javascript">
                $(window).load(function () {
                console.log("In document ready");
                $(".abc").dotdotdot({
                ellipsis: '...',
                wrap: 'word',
                watch: true,
                height: 50,
                maxHeight: 50
            });
        });
    </script>
}
